@property --divisione-calendario-colore {
    syntax: "<color>";
    inherits: false;
    initial-value: #c2c2c2;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    user-select: none;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
}

.calendario-header-giorno {
    width: 14.28%;
    text-align: center;
}

.settimana {
    display: flex;
    justify-content: space-between;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--divisione-calendario-colore);
}

.settimana:first-child {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--divisione-calendario-colore);
}

.settimana.corrente {
    background-color: #ececec;
}

.settimana-giorno {
    font-size: 10px;
    color: gray;
    width: 14.28%;
    height: 160px;

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: var(--divisione-calendario-colore);
}

.settimana-giorno:last-child {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: var(--divisione-calendario-colore);
}

.settimana-giorno-numero {
    text-align: center;
    margin-top: 5px;
}

.settimana-giorno-numero.corrente > span {
    font-weight: bold;
    background-color: rgb(249, 208, 155);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    align-content: center;
}

.attivita {
    margin: 10px 3px 3px 3px;
}

.attivita-icona {
    text-align: center;
}

.pulizie {
    margin: 20px 3px 3px 3px;
}

.pulizie-icona {
    text-align: center;
}

.responsabile {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modale-attivita {
    display: flex;
}

.modale-attivita > div {
    width: 50%;
    text-align: center;
}

.modale-bottoni {
    display: flex;
    margin-top: 30px;
}

.modale-bottoni > div {
    width: 50%;
    text-align: center;
}

.account-input {
    align-items: center;
    text-align: center;

    margin: 50px 20px 20px 20px;
}

.account-input > div {
    max-width: 500px;
    width: 100%;
}